body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f5f6ff;
}

.loadingAnimation {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-24px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-24px);
  }
}

.AppMenuItem {
  position: relative;
}

.AppMenuItem.active::before {
  content: url('../images/sidebar/roundtop.png');
  position: absolute;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 0;
  top: -15px;
}

.AppMenuItem.active::after {
  content: url('../images/sidebar/roundbottom.png');
  position: absolute;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 0;
  bottom: -15px;
}

/* .AppMenuItem.active::after {
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  background: #393a96;
  border-radius: 0 0 24px 0;
  position: absolute;
  right: 0;
  top: -24px;
  box-shadow: 0px 0px 0 #fff;
} */



@media print {
  body * {
    visibility: hidden !important;
  }

  #print-content,
  #print-content * {
    visibility: visible !important;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  @page {
    size: auto;
    margin: 0;
  }
}

/* Transparent autofill for Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s !important;
}
